* {
  box-sizing: border-box;
}

body {
  width: 100%;
}
/* .main-nav {
  background-color: #333333;
  height: 80px;
} */
#nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 60px;
  margin: auto;
  align-items: center;
  color: white;
  background-color: #333333;
}

.nav-bar-sub-content>a {
  text-decoration: none;
  color: white;
}

.nav-bar-content2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.nav-bar-content1>img {
  height: 50px;
  width: auto;
}

.nav-bar-content1,
.nav-bar-content3 {
  width: 25%;
}

.nav-bar-content2 {
  width: 50%;
}

.nav-bar-sub-content2>img {
  height: 40px;
  width: auto;
}

.nav-bar-content3 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
