<div class="main-nav">
  <div id="nav-bar">
    <div class="nav-bar-content1">
      <img src="../../assets/images/gologo.png" alt="">
    </div>
    <div class="nav-bar-content2">
      <div class="nav-bar-sub-content">
        <a href="#">CAMERAS</a>
      </div>
      <div class="nav-bar-sub-content">
        <a href="#">ACCESSORIES</a>
      </div>
      <div class="nav-bar-sub-content">
        <a href="#">APPS</a>
      </div>
      <div class="nav-bar-sub-content">
        <a href="#">GOPRO PLUS</a>
      </div>
      <div class="nav-bar-sub-content">
        <a href="#">SHOOT FOR AWARDS</a>
      </div>
    </div>
    <div class="nav-bar-content3">
      <div class="nav-bar-sub-content2">
        <img src="../../assets/images/searchlogo.png" alt="">
      </div>
      <div class="nav-bar-sub-content2">
        <img src="../../assets/images/searchlogo.png" alt="">
      </div>
      <div class="nav-bar-sub-content2">
        <img src="../../assets/images/searchlogo.png" alt="">
      </div>
      <div class="nav-bar-sub-content2">
        <img src="../../assets/images/searchlogo.png" alt="">
      </div>
      <div class="nav-bar-sub-content2">
        <img src="../../assets/images/searchlogo.png" alt="">
      </div>
    </div>
  </div>
  <div id="nav-bar2">
    <div>
      <p class="left-arrow"><</p>
    </div>
    <div>
      <p>Free SD card with all cameras. Only on gopro.com. <a href="#">Shop Now</a></p>
    </div>
    <div>
      <p class="right-arrow">></p>
    </div>
  </div>
</div>
