<div id="nav-bar">
  <div class="nav-bar-content">
    <img src="" alt="">
  </div>
  <div class="nav-bar-content">
    <div class="">
      <a href="#">CAMERAS</a>
    </div>
    <div class="">
      <a href="#">ACCESSORIES</a>
    </div>
    <div class="">
      <a href="#">APPS</a>
    </div>
    <div class="">
      <a href="#">GOPRO PLUS</a>
    </div>
    <div class="">
      <a href="#">SHOOT FOR AWARDS</a>
    </div>
  </div>
  <div class="nav-bar-content">
    <div class="">
      <img src="" alt="">
    </div>
    <div class="">
      <img src="" alt="">
    </div>
    <div class="">
      <img src="" alt="">
    </div>
    <div class="">
      <img src="" alt="">
    </div>
    <div class="">
      <img src="" alt="">
    </div>
  </div>
</div>
