<div class="main-nav">
  <div id="nav-bar">
    <div class="nav-bar-content">
      <img src="" alt="">
    </div>
    <div class="nav-bar-content">
      <div class="nav-bar-sub-content">
        <a href="#">CAMERAS</a>
      </div>
      <div class="nav-bar-sub-content">
        <a href="#">ACCESSORIES</a>
      </div>
      <div class="nav-bar-sub-content">
        <a href="#">APPS</a>
      </div>
      <div class="nav-bar-sub-content">
        <a href="#">GOPRO PLUS</a>
      </div>
      <div class="nav-bar-sub-content">
        <a href="#">SHOOT FOR AWARDS</a>
      </div>
    </div>
    <div class="nav-bar-content">
      <div class="nav-bar-sub-content2">
        <img src="" alt="">
      </div>
      <div class="nav-bar-sub-content2">
        <img src="" alt="">
      </div>
      <div class="nav-bar-sub-content2">
        <img src="" alt="">
      </div>
      <div class="nav-bar-sub-content2">
        <img src="" alt="">
      </div>
      <div class="nav-bar-sub-content2">
        <img src="" alt="">
      </div>
    </div>
  </div>
</div>
