#nav-bar2 {
  background-color: #03bffe;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 13px;
  position: fixed;
  z-index: 1;
}
