<div id="footer">
  <div class="footer-content1">
    <div>
      <p><strong>ABOUT GOPRO</strong></p>
      <p>About Us</p>
      <p>News</p>
      <p>Careers</p>
      <p>Connect With GoPr</p>
      <p>Investor Relations</p>
      <p>Distributors</p>
      <p>Supplier Responsibility</p>
      <p>Terms of Use</p>
      <p>Privacy Policy</p>
    </div>
    <div>
      <p><strong>ACCOUNT</strong></p>
      <p>Your GoPro Settings</p>
      <p>Your Order Status</p>
    </div>
    <div>
      <p><strong>SALES + SUPPORT</strong></p>
      <p>Contact Us</p>
      <p>+1 (855) 635 3578 (U.S.)</p>
      <p>Feedback</p>
      <p>GoPro Support</p>
    </div>
    <div>
      <p>DEVICE<strong></strong></p>
      <p>Camera Software Updates</p>
      <p>Camera Protection</p>
      <p>Clearance + Refurbished Shop</p>
    </div>
    <div>
      <p>PROGRAMS<strong></strong></p>
      <p>GoPro TradeUp</p>
      <p>GoPro Awards</p>
      <p>GoPro for a Cause</p>
      <p>Student Discount</p>
      <p>Affiliate Program</p>
    </div>
  </div>
  <br>
  <div class="footer-content2">
    <div>
      <input type="text" name="" value="">
      <button type="button" name="button">JOIN UP</button>
    </div>
    <div class="images">
      <img src="../../assets/images/ig.png" alt="">
      <img src="../../assets/images/facebook.png" alt="">
      <img src="../../assets/images/twitter.png" alt="">
      <img src="../../assets/images/pin.png" alt="">
      <img src="../../assets/images/yt.png" alt="">
    </div>
    <div>
      <p>FIND A LOCAL SHOP</p>
    </div>
  </div>
  <p class="lower-footer">GoPro, HERO and their respective logos are trademarks or registered trademarks of GoPro, Inc. in the United States and other countries. All other trademarks are the property of their respective owners. © 2019 GoPro, Inc. All rights reserved.</p>
</div>
