<div id="footer">
  <div>
    <p><strong>ABOUT GOPRO</strong></p>
    <p>About Us</p>
    <p>News</p>
    <p>Careers</p>
    <p>Connect With GoPr</p>
    <p>Investor Relations</p>
    <p>Distributors</p>
    <p>Supplier Responsibility</p>
    <p>Terms of Use</p>
    <p>Privacy Policy</p>
  </div>
  <div>
    <p><strong>ACCOUNT</strong></p>
  </div>
  <div>
    <p><strong>SALES + SUPPORT</strong></p>
  </div>
  <div>
    <p>DEVICE<strong></strong></p>
  </div>
  <div>
    <p>PROGRAMS<strong></strong></p>
  </div>
</div>
